{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ post.title }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>{{ post.title }}</h1>
    <p>{{ post.text }}</p>
    PS C:\Users\huawei\Desktop\djangogirlsFiruza> myvenv\Scripts\activate
    myvenv\Scripts\activate : Не удалось загрузить модуль "myvenv". Для получения дополнительных сведений выполните команду "Import-Module myvenv".
    строка:1 знак:1
    + myvenv\Scripts\activate
    + ~~~~~~~~~~~~~~~~~~~~~~~
        + CategoryInfo          : ObjectNotFound: (myvenv\Scripts\activate:String) [], CommandNotFoundException
        + FullyQualifiedErrorId : CouldNotAutoLoadModule
    <a href="{% url 'post_list' %}" class="back-btn">Назад к блогу</a>
</body>
</html>