{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Лавандовый блог</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Лавандовый блог</h1>
    <a href="{% url 'post_new' %}" class="create-btn">Создать пост</a>

    {% for post in posts %}
        <div class="post">
            <h2><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></h2>
            <p>{{ post.text|truncatewords:30 }}</p>
            <p><i>Опубликовано: {{ post.published_date }}</i></p>
            <a href="{% url 'post_edit' post.id %}" class="edit-btn">Редактировать</a>
            <a href="{% url 'post_delete' post.id %}" class="delete-btn">Удалить</a>
        </div>
    {% endfor %}
</body>
</html>
